/example/express/node_modules
/example/express/yarn.lock

/example/koa/node_modules
/example/koa/yarn.lock

/example/fastify/node_modules
/example/fastify/yarn.lock

/example/express-ts/node_modules
/example/express-ts/yarn.lock

/example/hapi/node_modules
/example/hapi/yarn.lock